Flow/Logic_Mervyn.json
[
    {
        "id": "f42c850da665fc5f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c458480c2dcd1cf",
        "type": "http in",
        "z": "f42c850da665fc5f",
        "name": "Get detection from python script",
        "url": "/motion",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "b4a58fe7660479ac"
            ]
        ]
    },
    {
        "id": "b4a58fe7660479ac",
        "type": "function",
        "z": "f42c850da665fc5f",
        "name": "Process motion detection message",
        "func": "let p = msg.payload;\n\nmsg.payload = {\n    status: p.status,\n    message: (p.msg)\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "823cee683557489a",
                "8df888cd8fbe37ca",
                "54a30cd0b0663861",
                "439b9dca1088da7a",
                "523b01e174ef8016"
            ]
        ]
    },
    {
        "id": "823cee683557489a",
        "type": "debug",
        "z": "f42c850da665fc5f",
        "name": "Show detection result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 600,
        "wires": []
    },
    {
        "id": "8df888cd8fbe37ca",
        "type": "http response",
        "z": "f42c850da665fc5f",
        "name": "HTTPS respond node",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "6b7d4cd717f324fc",
        "type": "exec",
        "z": "f42c850da665fc5f",
        "command": "cmd /c start \"\" /min powershell -c \"(New-Object Media.SoundPlayer 'C:\\Users\\USER\\Documents\\Y3S1\\CPT 316\\Part 2\\Assignment 2\\Footage\\Alarm.wav').PlaySync();\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "Alarm",
        "x": 1390,
        "y": 140,
        "wires": [
            [],
            [
                "786ea63752eb8a00"
            ],
            []
        ]
    },
    {
        "id": "786ea63752eb8a00",
        "type": "debug",
        "z": "f42c850da665fc5f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 140,
        "wires": []
    },
    {
        "id": "54a30cd0b0663861",
        "type": "switch",
        "z": "f42c850da665fc5f",
        "name": "CRITICAL Mode",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CRITICAL Mode",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "6b7d4cd717f324fc",
                "57c51a23adfb6185",
                "cff5c01ec2d52009"
            ]
        ]
    },
    {
        "id": "523b01e174ef8016",
        "type": "switch",
        "z": "f42c850da665fc5f",
        "name": "SAFE Mode",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SAFE Mode",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "f64df3cef65787a5",
                "3ecce03f2744f96e"
            ]
        ]
    },
    {
        "id": "439b9dca1088da7a",
        "type": "switch",
        "z": "f42c850da665fc5f",
        "name": "ALERT Mode",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALERT Mode",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 360,
        "wires": [
            [
                "df389f2f8a542df5"
            ]
        ]
    },
    {
        "id": "df389f2f8a542df5",
        "type": "exec",
        "z": "f42c850da665fc5f",
        "command": "cmd /c start \"\" /min powershell -Command \"Add-Type –AssemblyName System.Speech; (New-Object System.Speech.Synthesis.SpeechSynthesizer).Speak('Warning. Intruder detected. Please leave immediately.');\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Audio: Dont come too near to the house or the alarm will ring",
        "x": 1480,
        "y": 360,
        "wires": [
            [],
            [
                "f6f150d27fce02d4"
            ],
            []
        ]
    },
    {
        "id": "f6f150d27fce02d4",
        "type": "debug",
        "z": "f42c850da665fc5f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 360,
        "wires": []
    },
    {
        "id": "57c51a23adfb6185",
        "type": "function",
        "z": "f42c850da665fc5f",
        "name": "Messenger",
        "func": "// CONFIGURATION\nvar apikey = \"s0f4MfNaQ0y7vBhG\"; \n\n// FIX: Use .message (based on your debug output) OR .msg as a backup\nvar textToSend = msg.payload.message || msg.payload.msg || \"Default Alert\";\n\n// Encode text\nvar encodedMessage = encodeURIComponent(textToSend);\n\n// Construct URL\nmsg.url = \"https://api.callmebot.com/facebook/send.php?source=node-red&apikey=\" + apikey + \"&text=\" + encodedMessage;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 240,
        "wires": [
            [
                "4a8806e9c4186a60"
            ]
        ]
    },
    {
        "id": "d5b6adf43e72836f",
        "type": "debug",
        "z": "f42c850da665fc5f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2180,
        "y": 240,
        "wires": []
    },
    {
        "id": "b8c2043ccd85cd76",
        "type": "http request",
        "z": "f42c850da665fc5f",
        "name": "Send msg to Messenger",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1930,
        "y": 240,
        "wires": [
            [
                "d5b6adf43e72836f"
            ]
        ]
    },
    {
        "id": "4a8806e9c4186a60",
        "type": "delay",
        "z": "f42c850da665fc5f",
        "name": "Delay (1 msg / 20 sec)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1660,
        "y": 240,
        "wires": [
            [
                "b8c2043ccd85cd76"
            ]
        ]
    },
    {
        "id": "f64df3cef65787a5",
        "type": "function",
        "z": "f42c850da665fc5f",
        "name": "Messenger",
        "func": "// CONFIGURATION\nvar apikey = \"s0f4MfNaQ0y7vBhG\"; \n\n// FIX: Use .message (based on your debug output) OR .msg as a backup\nvar textToSend = msg.payload.message || msg.payload.msg || \"Default Alert\";\n\n// Encode text\nvar encodedMessage = encodeURIComponent(textToSend);\n\n// Construct URL\nmsg.url = \"https://api.callmebot.com/facebook/send.php?source=node-red&apikey=\" + apikey + \"&text=\" + encodedMessage;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 460,
        "wires": [
            [
                "5cc98e7d59b14d26"
            ]
        ]
    },
    {
        "id": "0d305f0b67b6ec4f",
        "type": "debug",
        "z": "f42c850da665fc5f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2180,
        "y": 460,
        "wires": []
    },
    {
        "id": "bb0d83a2f2e123b4",
        "type": "http request",
        "z": "f42c850da665fc5f",
        "name": "Send msg to Messenger",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1930,
        "y": 460,
        "wires": [
            [
                "0d305f0b67b6ec4f"
            ]
        ]
    },
    {
        "id": "5cc98e7d59b14d26",
        "type": "delay",
        "z": "f42c850da665fc5f",
        "name": "Delay (1 msg / 20 sec)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1660,
        "y": 460,
        "wires": [
            [
                "bb0d83a2f2e123b4"
            ]
        ]
    },
    {
        "id": "1aa77085cdad0aee",
        "type": "ui-led",
        "z": "f42c850da665fc5f",
        "name": "Light on",
        "group": "756c5cb894241b1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "House outdoor light",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#38ff38"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": false,
        "showGlow": true,
        "x": 1600,
        "y": 300,
        "wires": []
    },
    {
        "id": "cff5c01ec2d52009",
        "type": "change",
        "z": "f42c850da665fc5f",
        "name": "Set ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 300,
        "wires": [
            [
                "1aa77085cdad0aee"
            ]
        ]
    },
    {
        "id": "3ecce03f2744f96e",
        "type": "change",
        "z": "f42c850da665fc5f",
        "name": "Set OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 560,
        "wires": [
            [
                "1aa77085cdad0aee"
            ]
        ]
    },
    {
        "id": "756c5cb894241b1f",
        "type": "ui-group",
        "name": "Security Controls",
        "page": "195bb746fcc62daf",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "195bb746fcc62daf",
        "type": "ui-page",
        "name": "Security Controls",
        "ui": "f5709bdbfaba1c02",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "9f4dde8aa735ac76",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "f5709bdbfaba1c02",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "9f4dde8aa735ac76",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4b06fee862389902",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard-2-ui-led": "1.1.0",
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]